.card {
    width: 20rem;
    min-height: 35rem;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
}

/* .card-group {
    margin-bottom: 30px;
} */

.cardBg {
    background-color: #020312;
}

.bgImage {
    background-image: url(https://user-images.githubusercontent.com/112873819/227738031-abe03396-d5e4-4ba4-9f4e-184bd26aa249.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.customWidth {
    padding-top: 350px;
    text-align: center;

}

footer {
    background-color: rgb(7, 7, 45);
    height: 300px;
}

.icons {
    text-align: center;
    padding: 30px 0;
}